.info-title {
  border: 1px solid black;
  display: flex;
  padding: 30px;
  width: 100%;
}

.info-container {
  display: flex;
  width: 100%;
}

.info-product-card {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
  padding: 20px;
  width: 50%;
}

.info-form {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-around;
  width: 30%;
}

.info-comments {
  align-items: stretch;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.comments {
  padding: 15px;
}

