.header-container {
  border: 1px solid black;
  height: 100px;
  width: 100%;
}

.main-container {
  display: flex;
}

.category-list {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 30%;
}

.search-and-cart {
  border: 1px solid black;
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 80%;
}

.search-input {
  width: 60%;
}

.search-button {
  width: 50px;
}

.cart-button {
  margin-left: auto;
}

main {
  width: 80%;
}

.searched-products {
  border: 1px solid black;
  padding-top: 20px;
  text-align: center;
  width: 80%;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
  padding: 20px;
  width: 45%;
}

.product-image {
  width: 200px;
}

.info-title {
  border: 1px solid black;
  display: flex;
  width: 100%;
  padding: 30px;
}

.info-container {
  display: flex;
  width: 100%;
}

.info-product-card {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
  padding: 20px;
  width: 50%;
}

.info-form {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-around;
  width: 30%;
}

.info-comments {
  align-items: stretch;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.comments {
  padding: 15px;
}

.cart-container {
  display: flex;
}

.cart-products {
  width: 75%;
}

.cart-product {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 75%;
}

.cart-buttons {
  display: flex;
  width: 50%;
}

.quantity-button {
  flex-grow: 1;
}

.delete-button {
  flex-grow: 2;
}

.close-order {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  margin-top: 100px;
  width: 15%;
}

.products-checkout {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.product-checkout {
  border: 1px solid black;
  display: flex;
  flex-flow: column wrap;
  height: 400px;
  justify-content: space-between;
  padding: 15px;
  text-align: center;
  width: 250px;
}

.form-checkout {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  width: 100%;
}
