.infoPage {
  background-color: #ececec;
  width: 100vw;
}

.infoTitle {
  align-items: center;
  display: flex;
  width: 100%;
}

.infoContainer {
  width: 100vw;
}

.infoContent {
  display: flex;
  justify-content: space-around;
}

.infoProductCard {
  align-items: center;
  background-color: white;
  box-shadow: 1px 5px 16px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  font-family: Epilogue , sans-serif;
  height: 58vh;
  justify-content: space-between;
  padding: 15px;
  text-align: center;
  width: 40%;
}

.infoProductCard img {
  width: 25%;
}

.infoProductCard button {
  background-color: #31c28d;
  border: none;
  color: white;
  cursor: pointer;
  font-family: Epilogue , sans-serif;
  padding: 10px;
  width: 244px;
}

.infoForm {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: Epilogue , sans-serif;
  height: 58vh;
  justify-content: space-around;
  padding: 10px;
  width: 30%;
}

.infoForm input {
  border: 2px solid #94979d;
  padding: 8px;
  width: 70%;
}

.star {
  border: none;
  cursor: pointer;
  margin: 2px;
  padding: 5px;
}

.star:focus {
  background-color: gray;
}

.infoForm textarea {
  border: 2px solid #94979d;
  height: 30%;
  padding: 10px;
  width: 60%;
}

.rating {
  background-color: #31c28d;
  border: none;
  color: white;
  cursor: pointer;
  font-family: Epilogue , sans-serif;
  padding: 10px;
  width: 244px;
}

.rating:disabled {
  opacity: 0.3;
}

.infoComments {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 40%;
}

.commentTitle {
  border-top: 2px solid #94979d;
  font-family: Epilogue , sans-serif;
  font-size: 28px;
  padding: 20px;
}

.comments {
  border-top: 2px solid #94979d;
  font-family: Epilogue , sans-serif;
  padding: 20px;
}

.comments p {
  padding-bottom: 15px;
}

.textComent {
  color: gray;
}

