.product-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.product-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    width: 200px;
    margin: 10px;
    padding: 20px;
  };
  